attr==0.3.2
bpython==0.23
brotli==1.0.9
ConfigParser==5.3.0
cryptography==38.0.3
cx_Oracle==8.3.0
dl==0.1.0
docutils==0.19
HTMLParser==0.0.2
importlib_metadata==5.0.0
ipdb==0.13.9
ipython==8.6.0
ipywidgets==8.0.2
jnius==1.1.0
keyring==23.11.0
lockfile==0.12.2
lxml==4.9.1
MySQL-python==1.2.5
numpy==1.23.4
ordereddict==1.1
Pillow==9.3.0
protobuf==4.21.9
psycopg2==2.9.5
pylibmc==1.6.3
pymemcache==4.0.0
pyOpenSSL==22.1.0
python_memcached==1.59
pytz==2022.6
pywatchman==1.4.1
PyYAML==6.0
railroad==0.5.0
Sphinx==5.3.0
tblib==1.7.0
toml==0.10.2
tornado==6.2
xmlrpclib==1.0.1
zipp==3.10.0
